body {
    background-color: #D89E36;
    font-family: 'Maven Pro', sans-serif;
}
header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header h1{
    margin-left: -12px;
}
#games {
    background-color: #FFD34E /*#88BD1E*/;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#games ul{
    list-style-type: none;
}
#games ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.game_title {
    background-color:#FFFAD5;
    height: 60px;
    font-size: 30px;
    margin-right: 40px;
    overflow: none;
    clear: both;
}
.game_title h2 {
    font-size: 30px;
    margin-left: 10px;
    float: left;
    position: relative;
    margin-top: 15px;
}
div.game_achieve {
    background-color: #FFFAD5;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

div.game_achieve ul {
    list-style-type: none;
}

div.app_count {
    background-color: #105B63;
    color: white;
    width: 50px;
    height: 30px;
    text-align: center;
    margin-top: 8px;
    margin-right: 8px;
    padding-top: 10px; 
    padding-bottom: 5px;
    font-size: 15px;
    position: right;
    float: right;
}
